body {
  font-family: "PT Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

#footer {
  flex-direction: row;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
  gap: 638px;
}

.logo {
  font-size: 40px;
  font-weight: 700;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.mailto {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  border: none;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 67.29px;
}
.portrait {
  width: 468px;
  height: 624px;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-left: 30px;
}
h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}
.hero-content h2 span {
  color: #49b6da;
}
.hero-text span {
  background-image: linear-gradient(#49b6da);
  background-position: 29.4% 11.8% 34.57% 58.64%;
  background-size: 2px;
}
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 160px;
  gap: 32px;

  width: 1440px;
  height: 900px;

  background-color: #e5f2f8;
}
.project-heading span {
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;

  color: #142b36;
}
.project-heading {
  padding-top: 20px;
}
.p-heading-description {
  padding-bottom: 20px;
}
.p-heading-description span {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}
.project-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1152px;
  height: 548px;
}
.project-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 368px;
  height: 530px;

  background: #ffffff;
  border-radius: 5px;
}
.project-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 368px;
  height: 530px;

  background: #ffffff;
  border-radius: 5px;
}
.project-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 368px;
  height: 530px;

  background: #ffffff;
  border-radius: 5px;
}
#call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 144px;
  gap: 32px;

  width: 1440px;
  height: 200px;

  background: #3b7592;
}
.call-to-action-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 427px;
  height: 94px;
}
.get-in-touch {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;

  color: #e5f2f8;
}
.work-together {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */

  color: #e5f2f8;
}
.email-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;

  width: 224px;
  height: 43px;

  background: #b9deed;
  border-radius: 5px;
}
.email-button-text {
  width: 160px;
  height: 23px;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #3b7592;
}
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 36px 144px;
  gap: 10px;

  width: 1440px;
  height: 25px;

  background: #142b36;
}
.copyright {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #e5f2f8;
}
.copyright:hover {
  cursor: pointer;
}
.linkedin {
  position: absolute;
  height: 30px;
  width: 30px;
  color: #e5f2f8;
}
.github {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #e5f2f8;
}
.twitter {
  position: absolute;
  height: 30px;
  width: 30px;
  background: #e5f2f8;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: right;
  gap: 20px;
  background-color: #e5f2f8;
}
